*{
    box-sizing: border-box;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    top: 0;
}
.container{
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.header__inner{
    height: 130px;
    display: flex;
    align-items: center;
}
.header__logo{
    margin: 0 auto;
}
.header__logo a{
    font-size: 30px;
}
.logo a{
    font-family: 'Pacifico', cursive;
    color: #FFA577;
}
.logo span{
    color: black;
}
.logo{
    top: 30px;
    position: absolute;
}
.logo__logo{
    top: 30px;
    position: relative;
    font-size: 20px;
}
.logo__logo a{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.header{
    background-color: rgb(255, 255, 255);
}
.section__inner{
    display: flex;
    height: 130px;
    align-items: center;
    background-color: #D8A7B1;
}
.section__inner li{
    display: inline;
}
body{
    background-color: #03031a;
}
.section__nav{
    margin: 0 auto;
}
.section__nav li {
    margin-right: 40px;
    position: relative;
}
.section__nav a{
    font-family: 'Pacifico', cursive ;
    font-size: 12px;
    text-transform: uppercase;
}
.section__nav a:hover{
    color: rgb(71, 70, 70);
    transition: all 0,5s;
}
.knigi__inner{
    max-height: 100%;
    display: flex;
    background-color:#e5e5fd ;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.kniga{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 580px;
    padding-left: 20px;
}
.knigaa{
    margin-top: 20px;
    position: absolute;
}
.knigaa li{
    font-family: 'Play', sans-serif;
    display: block;
    width: 300px;
    margin-top: 5px;
    color: #574b34;
    font-size: 18px;
}
.Bottom{
    margin-top: 20px;
}
.Bottom li{
    display: inline;
    margin-right: 70px;
}
.Bottom a{
    color: 	#CC6600;
}
.Bottom a:hover{
    transition: all 0.5s;
    color: 	#f8ab5e
} 
.Avtor__inner{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:#e5e5fd ;
}
.Avtor{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 380px;
    padding-left: 20px;
}
.Avtor_li{
    margin-top: 20px;
    position: absolute;
    color: #574b34;
}
.Avtor_li li{
    font-family: 'Play', sans-serif;
    display: block;
    width: 300px;
    margin-top: 5px;
    color: #574b34;
    font-size: 18px;
}
.Avtor__Link{
    margin: 0 auto;
}
.Waring{
    font-size: 20px;
    color: brown;
}
.Poisk{
    background: #CC6600;
}

.Genres_Text form{ 
    display: inline;
    font-size: 20px; 

}
.Genres_Text input{
    margin-top: 20px;
    background: #CC6600; 
    margin-right: 10px;
    margin-left:30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: solid 8px;
    border-color: #03031a00;
}
.Genres_Text input:hover{
    background: #fca753; 
    border-radius: 15px;
    border-color: #e64848b6;
    transition: all 0.5s;
}
.wrapper{
    background-color:#e5e5fd ;
    position: relative;
    height: 100px;
}
.wrapper_button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #fca753 0%, #d8a7b1 51%, #03031a 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    right:43%;
    position: absolute;
  }
  .wrapper_button:hover {
    background-position: right center;
  }
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{
      transform:scale(1.1);
      -webkit-transform:scale(1.1);
    }
  
  .footer-distributed p.footer-links a:hover{
      text-decoration:underline;
    }
    footer{
        background-color: #292c2f;
    }
  